<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info">
            <div class="image">
                <img src="../public/admin/images/user.png" width="48" height="48" alt="User" />
            </div>
            <div class="info-container">
                <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">John Doe</div>
                <div class="email">john.doe@example.com</div>
            </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li class="header">MAIN NAVIGATION</li>
                <li class="active">
                    <a href="/admin">
                        <i class="material-icons">home</i>
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="/viewnumbers">
                        <i class="material-icons">view_list</i>
                        <span>View Numbers</span>
                    </a>
                </li>
                <li>
                    <a href="/addnumbers">
                        <i class="material-icons">add_box</i>
                        <span>Add Numbers</span>
                    </a>
                </li>
                <li>
                    <a href="/updatenumbers">
                        <i class="material-icons">edit</i>
                        <span>Update Number Details</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="material-icons">person</i>
                        <span>Vendor Details</span>
                    </a>
                    <ul class="ml-menu">
                        <li>
                            <a href="/viewvendors">View Vendors</a>
                        </li>
                        <li>
                            <a href="/addvendors">Add Vendors</a>
                        </li>
                    </ul>
                </li>
                
                <li>
                    <a href="/buyerlist">
                        <i class="material-icons">group</i>
                        <span>Buyer's List</span>
                    </a>
                </li>
                <li>
                    <a href="/changepassword">
                        <i class="material-icons">sync</i>
                        <span>Change Password</span>
                    </a>
                </li>
                
            </ul>
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        <div class="legal">
            <div class="copyright">
                &copy; 2020 <a href="javascript:void(0);">Webcom</a>
            </div>
        </div>
        <!-- #Footer -->
    </aside>
    <!-- #END# Left Sidebar -->
    <!-- Right Sidebar -->
    
    <!-- #END# Right Sidebar -->
</section>