<%- include('../partials/adminTop') %>

<%- include('../partials/adminTopBar') %>
    <!-- #Top Bar -->
<%- include('../partials/adminSideBar') %>

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>View Numbers</h2>
            </div>

            
        </div>
    </section>

<%- include('../partials/adminBottom') %>