
  <%- include('../partials/userTop') %>

  <%- include('../partials/userTopBar') %>

  <div class="container-fluid mt-5">
    <div class="row back-green">
      <div class="col-lg-6 col-md-12">
        <div class="box">
          <img class="image" style="width: 100%; margin-top: -5%;" class="image" src="../../public/user/img/18105917-eps.svg" alt="img">
        </div>
      </div>

      <div class="col-lg-6 col-md-12 second-div">
        <div class="box">
          <div class="col-lg-12 col-md-12">
            <img class="image" style="width: 35%;" src="../../public/user/img/Group2.svg" alt="img">
            <span class="title-holder">
              <span class="title">
                9873785918
              </span>
            </span>
          </div>
        </div>
      </div>

    </div>
    <h1>Exclusive Numbers</h1>
    <div class="row" id="wid">
      <div class="container my-4">


        <hr class="my-4">

        <!--Carousel Wrapper-->
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

          <!--Controls-->
          <div class="controls-top">
            <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i style="color: black;"
                class="fa fa-chevron-circle-left fa-3x"></i></a>
            <a class="btn-floating" href="#multi-item-example" data-slide="next"><i style="color: black;"
                class="fa fa-chevron-circle-right fa-3x"></i></a>
          </div>
          <!--/.Controls-->



          <!--Slides-->
          <div class="carousel-inner" role="listbox">

            <!--First slide-->
            <div class="carousel-item active">

              <div class="row">
                <div class="col-md-6 col-lg-4 col-sm-8 col-8 p-2 back">

                  <p style="text-align: center; font-weight: bold ; margin-top: 8px ;font-size: 20px; color: #8c8c8c;">
                    ₹2000</p>
                  <p style="text-align: center; font-weight: 800; font-size: 30px; color: #8c8c8c;">987 3785 918</p>
                  <button class="btn back-green btn-sm float-left btnMag" id="left" style="color:white">
                    Add to Cart
                  </button>

                  <button class="btn back-blue btn-sm float-right btnMag" id="right" style="color:white">
                    Buy Now
                  </button>
                </div>

                <div class="col-md-6 col-lg-4 col-sm-8 col-8 p-2 clearfix d-none d-md-block back">
                  <p style="text-align: center; font-weight: bold ; margin-top: 8px ;font-size: 20px; color: #8c8c8c;">
                    ₹2000</p>
                  <p style="text-align: center; font-weight: 800; font-size: 30px; color: #8c8c8c;">987 3785 918</p>
                  <button class="btn back-green btn-sm float-left btnMag" id="left" style="color:white">
                    Add to Cart
                  </button>

                  <button class="btn back-blue btn-sm float-right btnMag" id="right" style="color:white">
                    Buy Now
                  </button>
                </div>

                <div class="col-md-6 col-lg-4 p-2 col-sm-8 col-8 clearfix d-none d-md-block back">
                  <p style="text-align: center; font-weight: bold ; margin-top: 8px ;font-size: 20px; color: #8c8c8c;">
                    ₹2000</p>
                  <p style="text-align: center; font-weight: 800; font-size: 30px; color: #8c8c8c;">987 3785 918</p>
                  <button class="btn back-green btn-sm float-left btnMag" id="left" style="color:white">
                    Add to Cart
                  </button>

                  <button class="btn back-blue btn-sm float-right btnMag" id="right" style="color:white">
                    Buy Now
                  </button>
                </div>
              </div>

            </div>
            <!--/.First slide-->

            <!--Second slide-->
            <div class="carousel-item">

              <div class="row">
                <div class="col-md-6 col-lg-4 col-sm-8 col-8 p-2 back">
                  <p style="text-align: center; font-weight: bold ; margin-top: 8px ;font-size: 20px; color: #8c8c8c;">
                    ₹2000</p>
                  <p style="text-align: center; font-weight: 800; font-size: 30px; color: #8c8c8c;">987 3785 918</p>
                  <button class="btn back-green btn-sm float-left btnMag" id="left" style="color:white">
                    Add to Cart
                  </button>

                  <button class="btn back-blue btn-sm float-right btnMag" id="right" style="color:white">
                    Buy Now
                  </button>
                </div>

                <div class="col-md-6 col-lg-4 col-sm-8 col-8 p-2 clearfix d-none d-md-block back">
                  <p style="text-align: center; font-weight: bold ; margin-top: 8px ;font-size: 20px; color: #8c8c8c;">
                    ₹2000</p>
                  <p style="text-align: center; font-weight: 800; font-size: 30px; color: #8c8c8c;">987 3785 918</p>
                  <button class="btn back-green btn-sm float-left btnMag" id="left" style="color:white">
                    Add to Cart
                  </button>

                  <button class="btn back-blue btn-sm float-right btnMag" id="right" style="color:white">
                    Buy Now
                  </button>
                </div>

                <div class="col-md-6 col-lg-4 col-sm-8 col-8 p-2 clearfix d-none d-md-block back">
                  <p style="text-align: center; font-weight: bold ; margin-top: 8px ;font-size: 20px; color: #8c8c8c;">
                    ₹2000</p>
                  <p style="text-align: center; font-weight: 800; font-size: 30px; color: #8c8c8c;">987 3785 918</p>
                  <button class="btn back-green btn-sm float-left btnMag" id="left" style="color:white">
                    Add to Cart
                  </button>

                  <button class="btn back-blue btn-sm float-right btnMag" id="right" style="color:white">
                    Buy Now
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
    <br><br>
    <h1>Easy Steps</h1>
    <br>
    <div class="row">
      <div class="container">
        <div class="card-deck">
          <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="card">
              <div class="card-body">
                <img class="float-right" style="width: 50px;" src="../../public/user/img/searching-magnifying-glass.svg">
                <h4 class="card-title text-green">Find Number</h4>
                <br>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="card">
              <div class="card-body">
                <img class="float-right" style="width: 50px;" src="../../public/user/img/credit-card.svg">
                <h4 class="card-title text-green">Make Payment</h4>
                <br>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="card">
              <div class="card-body">
                <img class="float-right" style="width: 50px;" src="../../public/user/img/binary-code.svg">
                <h4 class="card-title text-green">Get Unique Code</h4>
                <br>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="card">
              <div class="card-body">
                <img class="float-right" style="width: 50px;" src="../../public/user/img/smartphone.svg">
                <h4 class="card-title text-green">Get Mobile Number</h4>
                <br>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                  content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>
    <h1>Customize Your Number</h1>
    <br>
    <div class="row">
      <div class="container">
        <div class="card-deck">
          <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="card">
              <div class="card-body">
                <img class="float-right" style="width: 50px;" src="../../public/user/img/birthday-cake.svg">
                <h4 style="font-family: Brush Script MT, Brush Script Std, cursive;">BIRTHDAY </h4>
                <h4 class="card-title">Number</h4>
                <br>
                <p class="card-text">Choose your number according to your date of Birth</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="card">
              <div class="card-body">
                <img class="float-right" style="width: 50px;" src="../../public/user/img/magic-ball.svg">
                <h4 style="font-family: Brush Script MT, Brush Script Std, cursive;">ASTROLOGY </h4>
                <h4 class="card-title">Number</h4>
                <br>
                <p class="card-text">Choose your number according to your Astrology number</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="card">
              <div class="card-body">
                <img class="float-right" style="width: 50px;" src="../../public/user/img/astrology.svg">
                <h4 style="font-family: Brush Script MT, Brush Script Std, cursive;">LUCKY</h4>
                <h4 class="card-title">Number </h4>
                <br>
                <p class="card-text">Choose your number according to your Lucky number</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
            <div class="card">
              <div class="card-body">
                <img class="float-right" style="width: 50px;" src="../../public/user/img/car.svg">
                <h4 style="font-family: Brush Script MT, Brush Script Std, cursive;">CAR </h4>
                <h4 class="card-title"> Number</h4>
                <br>
                <p class="card-text">Choose your number according to your Car number</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>
  

<%- include('../partials/userFooter') %>

<%- include('../partials/userBottom') %>
